{% extends "module/base.html" %}
{% load bootstrap3 %}

{% block title %}Collections{% endblock title %}

<hr>

{% block content %}
<table class="table table-hover">
  <tr>
    <th>name</th>
    <th>strict forward</th>
  </tr>
  {% for collection in collections %}
  <tr>
    <td>{{ collection.name }}</td>
    <td>{{ collection.strict_forward }}</td>
  </tr>
  {% endfor %}
</table>

<hr>
<a href="{% url 'module:collection-add' %}">
  {% bootstrap_button 'Add Collection' size='lg' icon='plus' %}
</a>

{% endblock content %}
