{% extends "module/base.html" %}
{% load bootstrap3 %}

{% block title %}
Content Source:
<a class="pull-right" href="{% url 'lti:source-list' %}">
  {% bootstrap_button 'back to LTI Content Sources' size='sm' icon='menu-up' %}
</a>
<h2>
  {{ lti_source.name }} from {{ lti_source.lti_content_source.name }}
</h2>
<hr>
{% endblock title %}


{% block content %}

<h4>{{ lti_source.launch_url }}</h4>

<iframe
  style="width:100%;height:640px;%;display:block;border:0px;"
  title="{{ lti_source.id }}"
  name="ltiFrame-{{ lti_source.id }}"
  src="{% url 'lti:content-source' lti_source.id %}"
  allowfullscreen="true"
  webkitallowfullscreen="true"
  mozallowfullscreen="true"
  sandbox="allow-same-origin allow-forms allow-scripts"
>
</iframe>


{% endblock content %}
