# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# local Django logs:
***.log
***.log.*
***.egg-info
.idea/
**/.coverage
## Secure settings
secure.py
secure.config

**.coverage
**.cache

***.log
***.log.*
***.egg*
.idea
