/* module css */

div.toolbar {
	margin: .5em;
}

div.toolbar-item {
	padding: 0em;
}

div#toolbar-points form{
	margin: 0;
}

/* remove border around LTI window */
iframe#vpal-activity {
	border: none;
	resize: vertical;
}

a.trash {
	float: right;
}

div.options {
	min-width: 140px;
}

.aware {
    color: royalblue;
}

.warn {
    color: orangered;
}

:invalid:required {
  box-shadow: 1px 1px 2px rgba(200, 0, 0, 0.85);
}

.advanced_fields {
  display: none;
}

table.table th:not(.text-right):not(.text-left) {
 text-align: center;
}

table.table th:first-child:not(.text-center):not(.text-right) {
 text-align: left;
}

table.table th:last-child:not(.text-center):not(.text-left) {
 text-align: right;
}

table.table tr td:not(.text-left):not(.text-right) {
 text-align: center;
}

table.table tr td:first-child:not(.text-center):not(.text-right) {
 text-align: left;
}

table.table tr td:last-child:not(.text-center):not(.text-left) {
 text-align: right;
}

.preview-assessment-buttons {
    margin: 2px;
}

.preview-assessment-back-btn {
    margin: 6px;
}

.collection-detail-toolpanel {
    display: flex;
    justify-content: flex-end;
}
