/* module css */

div.toolbar {
	margin: .5em;
}

div.toolbar-item {
	padding: 0em;
}

div#toolbar-points form{
	margin: 0;
}

/* remove border around LTI window */
iframe#vpal-activity {
	border: none;
	resize: vertical;
}

a.trash {
	float: right;
}

div.options {
	min-width: 140px;
}

.aware {
    color: royalblue;
}

.warn {
    color: orangered;
}

:invalid:required {
  box-shadow: 1px 1px 2px rgba(200, 0, 0, 0.85);
}

.advanced_fields {
  display: none;
}

table.table th:not(.text-right):not(.text-left) {
 text-align: center;
}

table.table th:first-child:not(.text-center):not(.text-right) {
 text-align: left;
}

table.table th:last-child:not(.text-center):not(.text-left) {
 text-align: right;
}

table.table tr td:not(.text-left):not(.text-right) {
 text-align: center;
}

table.table tr td:first-child:not(.text-center):not(.text-right) {
 text-align: left;
}

table.table tr td:last-child:not(.text-center):not(.text-left) {
 text-align: right;
}

.preview-assessment-buttons {
    margin: 2px;
}

.preview-assessment-back-btn {
    margin: 2px;
}

.detail-toolpanel {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
}

.unreachable-activity {
    background: rgba(75, 73, 45, 0.16);
}

.badge{
    margin-right: 4px;
}

.content-source-select {
    margin-top: 3px;
}

.content-source-filter-btn {
    margin-top: 7px;
}
.col-md-6 > a > button {
    margin: 3px 0;
}

a > button {
    margin: 3px 0;
}

.column {
    display: block;
    float: none;
    margin-bottom: 3px;
}

.options .btn,
h3 .pull-right .btn {
	margin-left: 4px;
}

#accordion .panel-body {
	position: relative;
}

#accordion .panel-body:before{
	content: " ";
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	z-index: 2;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #777;
	border-color: #777 transparent #777 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

#accordion .list-group {
	position: relative;
	z-index: 3;
	background: #fff;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


table.table tr td:last-child:not(.text-center):not(.text-left) a:hover,
a.edit-object:hover {
	text-decoration: none;
}

.table .move-up + .move-down {
	margin-left: 4px;
}

.read-only {
    display: flex;
    justify-content: center;
}
