option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: adaptive_edx/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: adaptive_edx.settings.aws

packages:
  yum:
    git: []
    libxml2: []
    libxslt: []
    libxml2-devel: []
    libxslt-devel: []
    postgresql94-devel: []

container_commands:
  01_static:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_loaddata:
    command: "django-admin.py loaddata module activity"
    leader_only: true