<!DOCTYPE html>
{% load staticfiles bootstrap3 fontawesome %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
  <meta charset="utf-8">
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="#">
  <title>{% block bootstrap3_title %}Bridge DASHBOARD{% endblock %}</title>
  {% bootstrap_css %}
  {% fontawesome_stylesheet %}
  <link rel="stylesheet" href="{% static 'module/css/module.css' %}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
  {% block bootstrap3_extra_head %}{% endblock %}
  <style>
    body {
      padding-top: 70px;
    }
  </style>
</head>

<body>
{% block bootstrap3_content %}
  {% include "module/navbar.html" %}
  <div class="container">
    {% if back_url %}
      <div>
        <a class="move-down" href="{{ back_url }}">
          {% bootstrap_button "Back" size="sm" icon="arrow-left" %}
        </a>
      </div>
    {% endif%}
    {% if request.session.read_only_data %}
      <div class="btn-danger read-only">
          READ ONLY MODE (to do any changes please login to the Bridge with your account)
      </div>
    {% endif %}
    <h1>{% block title %}{% endblock %}</h1>

      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    {% block content %}(no content){% endblock %}
  </div>
{% endblock bootstrap3_content %}

{% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
{% block bootstrap3_extra_script %}
    <script type="application/javascript">
        var internalUrls = {
            apiSources: "{% url 'api:sources' %}",
            ltiSourcePreview: "{% url 'lti:source-preview' %}"
        };
    </script>
{% endblock %}
{% block js %}{% endblock %}
</body>

</html>
