{% extends "module/base.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}
  <span class="label label-default">ID:{{ collection.id }}</span> Collection: {{ collection.name }}
  <h3>
    {% if sync_available %}
    <a class="pull-right require-submission"
       href="{% url 'module:collection-sync' collection.id %}?back_url={{ back_url }}"
       data-confirmation-msg="Collection will be synchronized immediately!">
        {% bootstrap_button 'Sync with Engines' size='sm' icon='refresh' button_class="btn-info" %}
    </a>
    {% endif %}
    <a class="pull-right require-submission" href="{% url 'module:collection-delete' pk=collection.id %}">
        {% bootstrap_button "Delete" size='sm' icon='trash' %}
    </a>
    <a class="pull-right" href="{% url 'module:collection-change' collection.id %}">
        {% bootstrap_button 'Edit' size='sm' icon='edit' %}
    </a>
  </h3>
{% endblock title %}

<hr>

{% block content %}
  <div class="row">
    <div id="activities" data-engine="{{ engine }}" class="col-md-8">
      {% if activities %}
        <table class="table table-hover">
          <tr>
            {% for field in render_fields %}
              <th>{{ field }}</th>
            {% endfor %}
            <th class="text-right">options</th>
          </tr>
          {% for activity in activities %}
            <tr id="activity-row-{{ forloop.counter0 }}"
                class="activity {% if activity.atype == 'A' %}warning{% elif activity.atype == 'Z' %}info{% endif %}"
                data-activity-name="{{ activity.name }}"
                data-activity-source-launch-url="{{ activity.source_launch_url }}"
            >
              <td>
                <a href="{% url 'module:activity-change' activity.pk collection.pk %}">
                  {{ activity.name }}
                  <div>
                    {% if activity.atype == 'A' %}
                      <span class="label label-warning">
                      PRE:{{ activity.order }}
                  </span>
                    {% elif activity.atype == 'Z' %}
                      <span class="label label-info">
                      POST:{{ activity.order }}
                  </span>
                    {% endif %}
                  </div>
                </a>
              </td>
              <td>{% ifequal activity.tags 'Unknown' %}-{% else %}{{ activity.tags }}{% endifequal%}</td>
              <td>{{ activity.difficulty }}</td>
              <td>{{ activity.points|default:"-" }}</td>
              <td>{{ activity.source_name|default:"-" }}</td>
              <td>
                <div class="options">
                  <a class="trash pull-right" href="{% url 'module:activity-delete' activity.pk %}">
                    {% bootstrap_button "" size='sm' icon='trash' %}
                  </a>
                  {% ifnotequal activity.atype 'G' %}
                    {% ifnotequal activity.order 0 %}
                    <a class="move-up pull-right"
                       href="{% url 'module:activity-move' pk=activity.pk direction='up' %}">
                      {% bootstrap_button "" size='sm' icon='chevron-up' %}
                    </a>
                    {% endifnotequal %}
                    {% if not forloop.last and not activity.last_pre  %}
                      <a class="move-down pull-right"
                         href="{% url 'module:activity-move' pk=activity.pk direction='down' %}">
                        {% bootstrap_button "" size='sm' icon='chevron-down' %}
                      </a>
                    {% endif %}
                  {% endifnotequal %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div class="alert alert-info" role="alert">Your collection has no activities for now. Take a look at the right
          panel.
        </div>
      {% endif %}
      <hr>
      <h3>
        <small>Tips:</small>
      </h3>
      <ul>
        <li class="text-muted">to see the list of available LTI components click on course title</li>
        <li class="text-muted">to preview LTI component click on its `eye` icon</li>
        <li class="text-muted">to create new Activity based on certain LTI component click on its title</li>
        <li class="text-muted">
          <span class="bg-warning">pre-assessments</span> and
          <span class="bg-info">post-assessment</span> activities are marked respectively
        </li>
      </ul>

      {# Right accordion panel #}
    </div>
    <div class="col-md-4">
      <div class="row">
        <h3 class="text-center">Available content courses</h3>
      </div>
      <div class="raw panel-heading">
        <label for="filter">Filter Activities:</label>
        <input id="filter" type="search">
        <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div class="row">
        {% if not source_courses %}
          <div class="alert alert-warning text-center" role="alert">
            There are no active content sources.
            You may ask Bridge administrator to activate one.
          </div>
          <h3>
            <small>Possible reasons:</small>
          </h3>
          <ul>
            <li class="text-muted">all content providers are deactivated</li>
            <li class="text-muted">API connection problem</li>
          </ul>
        {% endif %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for source_course in source_courses %}

            <div id="content-panel-{{ forloop.counter0 }}" class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading{{ forloop.counter0 }}">
                <h4 class="panel-title">
                  <a {% if not forloop.first %}class="collapsed" {% endif %} role="button" data-toggle="collapse"
                     data-parent="#accordion" href="#collapse{{ forloop.counter0 }}"
                     data-course-id="{{ source_course.course_id }}"
                     data-course-index="{{ forloop.counter0 }}"
                     aria-expanded="false"
                     aria-controls="collapse{{ forloop.counter0 }}">
                    {{ source_course.name }} <span
                    class="label label-default pull-right">{{ source_course.org }}</span>
                  </a>
                </h4>
              </div>
              <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse"
                   role="tabpanel" aria-labelledby="heading{{ forloop.counter0 }}">
                <div id="panel-body-{{ forloop.counter0 }}" class="panel-body">

                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>

    </div>
  </div>

  {% include "module/source_modal.html" %}
  {% include "module/activity_modal.html" with collection=object %}
  {% include "module/engine_failure_modal.html" %}

{% endblock content %}

{% block bootstrap3_extra_script %}
  {{ block.super }}
  <script type="application/javascript">
      var internalUrls = {
          apiSources: "{% url 'api:sources' %}",
          ltiSourcePreview: "{% url 'lti:source-preview' %}"
      };
  </script>
  <script src="{% static 'module/js/module.js' %}"></script>
{% endblock bootstrap3_extra_script %}
