{% extends "module/base.html" %}
{% load static bootstrap3 fontawesome %}

{% block title %}
  Group: <span class="label label-default">{{ group.name }}</span>
{% endblock title %}

{% block content %}

{% url "module:add-collection-to-group" group_slug=group.slug as add_collection_url %}
{% url "module:collection-add" group_slug=group.slug as add_new_collection_url %}

{% include "module/modals/link_objects.html" with course=course link_action_url=add_collection_url add_new_object_url=add_new_collection_url title='Link collection with group' %}
{% include "module/modals/modal_wrapper.html" %}

<div class="row">
  <div class="col-md-9">
    <div class="detail-toolpanel">
        {% if not request.session.read_only_data %}
            {% url 'module:group-change' group.slug as group_edit %}
            <a>
            {% bootstrap_button "Edit" size='sm' icon='edit' extra_classes='modal_launcher' value=group_edit %}
            </a>
            <a class="pull-right delete-object
                     {% if group.has_linked_active_sequences %}
                       show-alarm {% else %} show-warning
                     {% endif %}"
               data-id="{{ group.slug }}">
                {% bootstrap_button 'Delete' size='sm' icon='trash' %}
            </a>
            {% if grade_update_available %}
                <a class="pull-right show-warning">
                    {% bootstrap_button 'Update Students Grades' size='sm' icon='refresh' button_class="btn-primary" %}
                </a>
            {% endif %}
        {% endif %}
    </div>
  </div>

  <div class="col-md-9">
    {% if group.collections.all %}
      <table class="table table-hover">
        <tr>
          <th>collection name</th>
          <th>strict forward</th>
          <th>options</th>
        </tr>
        {% for collection in group.ordered_collections %}
          {% if request.session.read_only_data and collection.slug != request.session.read_only_data.collection %}
            {# Continue #}
          {% else %}
              <tr {% if not request.session.read_only_data %}
                      draggable="true" class="droppable"
                      ondrop="drop_handler(event, this);"
                      ondragstart="dragstart_handler(event);"
                      ondragover="dragover_handler(event);"
                      data-index="{{ forloop.counter0 }}"
                      data-move_url="{% url 'module:collection-move' group_slug=group.slug slug=collection.slug %}?back_url={{ group.get_absolute_url}}"
                  {% endif %}
              >
                <td>
                  <a href="{% url 'module:collection-detail' collection.id %}?back_url={{ group.get_absolute_url}}">
                  {{ collection.name }} :
                  {{ collection.activities.count }}
                  {{ collection.activities.count|pluralize:'activity,activities' }}</a></td>
                <td>{% if collection.strict_forward %}
                  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                {% endif %}
                </td>
                <td>
                  <div>

                    <a id="launch-demo" class=""
                       href="{% url 'module:demo' collection_slug=collection.slug group_slug=group.slug %}?back_url={% url 'module:group-list' %}">
                      <button class="btn btn-warning btn-sm">
                          <span class="glyphicon glyphicon-education"></span>
                          Demo
                          <span data-toggle="popover"
                             data-placement="right"
                             id="demo_help"
                             content="bla bla bla"
                             class="glyphicon glyphicon-info-sign"
                          ></span>
                      </button>
                    </a>
                    <a id="launch-url-fetcher" class=""
                       data-clipboard-text="{{ bridge_host }}{% url 'lti:launch' collection_slug=collection.slug group_slug=group.slug unique_marker='set_me_unique' %}">
                      <button class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-link"></span>
                          copy Launch URL
                          <span data-toggle="popover"
                             data-placement="right"
                             id="launch_url_help"
                             content="bla bla bla"
                             class="glyphicon glyphicon-info-sign"
                          ></span>
                      </button>

                    </a>
                    {% if not request.session.read_only_data %}
                    {% with undone=True %}

                      {% url 'module:collection-group-delete' slug=collection.slug group_slug=group.slug as delete_url %}

                      {% with title="You are about unlink <Collection: "|add:collection.name|add:"> from <CollectionGroup: "|add:group.name|add:">" %}
                        {% if collection.has_linked_active_sequences %}
                          {% with message="At least one student is still working on the Collection " %}
                            {% include "module/modals/confirmation_modal.html" with object=collection action_url=delete_url id=collection.slug %}
                          {% endwith %}
                        {% elif collection.has_linked_sequences %}
                          {% with message="At least one student is linked to the Collection " %}
                            {% include "module/modals/confirmation_modal.html" with object=collection action_url=delete_url id=collection.slug %}
                          {% endwith %}
                        {% else %}
                          {% include "module/modals/confirmation_modal.html" with object=collection action_url=delete_url id=collection.slug %}
                        {% endif %}
                      {% endwith %}
                    {% endwith %}
                    {% url 'module:collection-change' collection.slug as collection_edit %}
                    {% bootstrap_button "Edit" size='sm' icon='edit' extra_classes='modal_launcher' value=collection_edit %}

                    <a
                        class="move-down delete-object {% if collection.has_linked_active_sequences %} show-alarm
                            {% elif collection.has_linked_sequences %} show-warning{% endif %}"
                        href=""
                        data-id="{{ collection.slug }}">
                      <button class="btn btn-default btn-sm">{% fontawesome_icon icon='chain-broken' %} Unlink</button>
                    </a>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endif %}
        {% endfor %}
      </table>
    {% else %}
      <div class="alert alert-info" role="alert">
        You have no collections for now.
      </div>
    {% endif %}

    {% if not request.session.read_only_data %}
      <button class="btn btn-default btn-lg open-modal" id="link-objects-modal">
      <span class="fa fa-chain"></span>
      Link collection with group
    </button>
    {% endif %}

    <hr>
        <h3>
          <small>Tips:</small>
        </h3>
        <ul>
          <li class="text-muted">to copy LTI launch URL - click <i>copy launch URL</i> button</li>
          <li class="text-muted">to add the collection into the group - click <i class="fa fa-chain"> Link collection with group</i> button</li>
          <li class="text-muted">to remove collection from the group - click <i class="fa fa-chain-broken">Unlink</i> button</li>
          <li class="text-muted">Collection items in the Group can be Dragged&Dropped</li>
        </ul>

      <hr>

  {% url 'module:group-detail' group_slug=group.slug as back_url %}
  {% url "module:add-collection-to-group" group_slug=group.slug as add_collection_url %}
  {% include "module/modals/link_objects.html" with course=course link_action_url=add_collection_url title='Link collection with group' %}

  </div>
  <div class="col-md-3">
    <div class="row">
      <h3 class="text-center">Group Info</h3>
      <div class="alert alert-warning text-center" role="alert">
        Engine - {{ group.engine.engine_name }}
      </div>
      <div class="alert alert-warning text-center" role="alert">
        Grading Policy - {{ group.grading_policy.policy_cls.public_name|default:'Not selected' }}
        {% if group.grading_policy.threshold %}
          <p>Threshold: {{ group.grading_policy.threshold }}</p>
        {% endif %}
      </div>
      {% if group.description %}
      <div class="alert alert-info text-center">
        <h4 class="text-center">Description</h4>
        <p class="text-left">
          {{ group.description }}
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% url 'module:group-delete' group_slug=group.slug as delete_url %}
{% url 'module:update_grades' group_slug=group.slug as update_grades %}

{% with title="Force update of students grades" message="Students grades related to the current group will be updated!" %}
  {% include "module/modals/confirmation_modal.html" with object='' action_url=update_grades %}
{% endwith %}

{% if group.has_linked_active_sequences %}
  {% with message="At least one student is still working on the Collection which is in Collection Group" %}
    {% include "module/modals/confirmation_modal.html" with object=group action_url=delete_url id=group.slug %}
  {% endwith %}
{% elif group.has_linked_sequences %}
  {% with message="At least one student is linked to the Collection which is in Collection Group" %}
    {% include "module/modals/confirmation_modal.html" with object=group action_url=delete_url id=group.slug %}
  {% endwith %}
{% else %}
  {% include "module/modals/confirmation_modal.html" with object=group action_url=delete_url id=group.slug %}
{% endif %}

{% endblock content %}


{% block bootstrap3_extra_script %}
  {{ block.super }}
  <script src="{% static 'module/js/module.js' %}"></script>
  {% if not request.session.read_only_data %}
    <script src="{% static 'module/js/base_drag_drop.js' %}"></script>
    <script src="{% static 'module/js/drag_drop.js' %}"></script>
  {% endif %}
{% endblock bootstrap3_extra_script %}
