{% extends "module/base.html" %}
{% load bootstrap3 %}

{% block title %}Groups of Collections{% endblock title %}

<hr>

{% block content %}
  {% if groups %}
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>group name</th>
        <th>description</th>
        <th>collections in the group</th>
        <th>options</th>
      </tr>
      {% for group in groups %}
          <td>{{ group.id }}</td>
          <td><a href="{{ group.get_absolute_url }}?back_url={% url 'module:group-list' %}">{{ group.name }}</a></td>
          <td>
            {% if group.description %}
            {{ group.description|truncatewords:20 }}
            {% else %}
            No description
            {% endif %}
          </td>
          <td>{{ group.collections.count }}</td>
          <td>
            <div>
              <a class="move-down"
                 href="{% url 'module:group-change' group_slug=group.slug %}?back_url={% url 'module:group-list' %}">
                {% bootstrap_button "Update" size='sm' icon='edit' %}
              </a>
              <a class="move-down" href="{% url 'module:group-delete' group_slug=group.slug %}">
                  {% bootstrap_button "Remove" size='sm' icon='trash' %}
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert alert-info" role="alert">
      You have no groups for now.
    </div>
  {% endif %}

  <hr>
  <a href="{% url 'module:group-add' %}">
    {% bootstrap_button 'Add Group' size='lg' icon='plus' %}
  </a>

{% endblock content %}
