{% extends "module/base.html" %}
{% load bootstrap3 %}

{% block title %}Collections{% endblock title %}

<hr>

{% block content %}
  {% if collections %}
    <table class="table table-hover">
      <tr>
        <th>name</th>
        <th>metadata</th>
        <th>threshold</th>
        <th>strict forward</th>
        <th class="text-center">options</th>
      </tr>
      {% for collection in collections %}
        <tr>
          <td><a href="{% url 'module:collection-detail' collection.id %}">{{ collection.name }}</a></td>
          <td>{{ collection.metadata|default:"-" }}</td>
          <td>{{ collection.threshold|default:"-" }}</td>
          <td>{% if collection.strict_forward %}
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
          {% else %}
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
          {% endif %}
          </td>
          <td>
            <div>
              <a class="move-down pull-right"
                 href="{% url 'module:collection-change' collection.id %}">
                {% bootstrap_button "" size='sm' icon='edit' %}
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert alert-info" role="alert">
      You have no collections for now.
    </div>
  {% endif %}

  <hr>
  <a href="{% url 'module:collection-add' %}">
    {% bootstrap_button 'Add Collection' size='lg' icon='plus' %}
  </a>

{% endblock content %}
