{% extends "module/base.html" %}
{% load static bootstrap3 %}

{% block title %}Collections{% endblock title %}

<hr>

{% block content %}
  {% if collections %}
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>strict forward</th>
        <th>groups</th>
        <th>options</th>
      </tr>
      {% for collection in collections %}
        <tr>
          <td>{{ collection.id }}</td>

          <td><a href="{% url 'module:collection-detail' collection.id %}?back_url={{ collection.get_absolute_url }}">{{ collection.name }} :
            {{ collection.activities.count }}
            {{ collection.activities.count|pluralize:'activity,activities' }}</a>
          </td>

          <td>{% if collection.strict_forward %}
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
          {% else %}
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
          {% endif %}
          </td>

          <td style="max-width: 30%">
            {% for group in collection.collection_groups.all %}
              <a class="{% if forloop.counter > 10 %}hidden-group {% endif %}label label-info" href="{{ group.get_absolute_url }}">{{ group.name }}</a>
            {% endfor %}
          </td>
          <td>
            <div>
              <a class="move-down"
                 href="{% url 'module:collection-change' collection.id %}?back_url={{ collection.get_absolute_url }}">
                {% bootstrap_button "" size='sm' icon='edit' %}
              </a>
              <a
                  class="move-down require-submission"
                  href="{% url 'module:collection-delete' pk=collection.id %}"
                  {% if collection.has_linked_active_sequences %}
                  data-confirmation-msg="At least one student are still working on Collection <{{ collection.name }}>. \n\nAre you really sure? \n\nThis action is not reversible!"
                  {% elif collection.has_linked_sequences %}
                  data-confirmation-msg="At least one student is linked to Collection <{{ collection.name }}>. \n\nAre you really sure? \n\nThis action is not reversible!"
                  {% endif %}
                  >
                  {% bootstrap_button "" size='sm' icon='trash' %}
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert alert-info" role="alert">
      You have no collections for now.
    </div>
  {% endif %}

  <hr>
  <a href="{% url 'module:collection-add' %}">
    {% bootstrap_button 'Add Collection' size='lg' icon='plus' %}
  </a>

{% endblock content %}

{% block bootstrap3_extra_script %}
  {{ block.super }}
  <script src="{% static 'module/js/module.js' %}"></script>
{% endblock bootstrap3_extra_script %}
