{% extends "module/base.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}
  Collection: <span class="label label-default">{{ collection.name }}</span>

{% endblock title %}

<hr>

{% block content %}
  {% include "module/modals/modal_wrapper.html" %}
  {%  url 'module:activity-add' collection_slug=collection.slug  as activity_add %}

    <div
            id="activity-add-url-holder"
            data-url = '{{ activity_add }}'
            style="display: none">
    </div>

  <div class="row">
 {% include "module/modals/toast.html" with id='preview-warning' message='There is no preview for the empty group' %}

      <div class="col-md-8">
        <h3 class="detail-toolpanel">

            {% url 'module:collection-change' collection.slug as collection_edit %}
            {% bootstrap_button "Edit" size='sm' icon='edit' extra_classes='modal_launcher' value=collection_edit %}
            <a class="pull-right delete-object
                     {% if collection.has_linked_sequences %}
                       {% if collection.has_linked_active_sequences %}
                         show-alarm {% else %} show-warning
                       {% endif %}
                     {% endif %}"
               data-id="{{ collection.slug }}">
                {% bootstrap_button "Delete" size='sm' icon='trash' %}
            </a>
            <a
                    class="pull-right"
                    id="collection-preview-button"
                    href="{% url 'module:collection-preview' collection.slug %}"
            >
                {% bootstrap_button 'Preview' size='sm' icon='glyphicon glyphicon-eye-open' button_class="btn-success" %}
            </a>
            {% if sync_available %}
                <a class="pull-right show-warning">
                    {% bootstrap_button 'Sync with Engines' size='sm' icon='refresh' button_class="btn-info" %}
                </a>
            {% endif %}
        </h3>
    </div>
    <div id="activities" data-engine="{{ engine }}" class="col-md-8">
      {% if activities %}
        <table class="table table-hover">
          <tr>
            {% for field in render_fields %}
              <th class="{% if forloop.first %}text-left{% else %}text-center{% endif %}">
                {% if field == 'name' %}activity name{% else %}
                {{ field }}
                {% endif %}
              </th>
            {% endfor %}
            <th class="text-right">options</th>
          </tr>
          {% for activity in activities %}
            <tr id="activity-row-{{ forloop.counter0 }}"
                class="activity {% if activity.atype == 'A' %}warning{% elif activity.atype == 'Z' %}info{% endif %}"
                data-activity-name="{{ activity.name }}"
                data-id="{{ activity.id }}"
                data-activity-source-launch-url="{{ activity.source_launch_url }}"
                data-content_source_id="{{ activity.lti_consumer.id }}"
                data-source-active="{% if activity.lti_consumer.is_active %}true{% endif %}"
            >
                {% url 'module:activity-change' activity.pk collection.slug as activity_edit %}
              <td class="text-left modal_launcher" value="{{ activity_edit }}">

                <a href="#" >
                  {{ activity.name }}
                  <div>
                    {% if activity.atype == 'A' %}
                      <span class="label label-warning">
                      PRE:{{ activity.order }}
                  </span>
                    {% elif activity.atype == 'Z' %}
                      <span class="label label-info">
                      POST:{{ activity.order }}
                  </span>
                    {% endif %}
                  </div>
                </a>
              </td>
              <td class="text-center">
                {% if activity.tags == 'Unknown' or activity.tags is None %}-{% else %}{{ activity.tags }}{% endif %}
              </td>
              <td class="text-center">{{ activity.difficulty }}</td>
              <td class="text-center">{{ activity.points|default:"-" }}</td>
              <td class="text-center">{{ activity.source_name|default:"-" }}</td>
              <td class="text-right">
                <div class="options">
                  <a class="trash delete-object
                  {% if collection.has_linked_active_sequences %} show-alarm
                  {% elif collection.has_linked_sequences %} show-warning
                  {% endif %} pull-right" data-id="{{ activity.id }}">
                    {% bootstrap_button "" size='sm' icon='trash' %}
                  </a>

                  {% bootstrap_button "" size='sm' icon='edit' extra_classes='modal_launcher' value=activity_edit %}
                  {% ifnotequal activity.atype 'G' %}
                    {% ifnotequal activity.order 0 %}
                    <a class="move-up pull-right"
                       href="{% url 'module:activity-move' pk=activity.pk direction='up' %}">
                      {% bootstrap_button "" size='sm' icon='chevron-up' %}
                    </a>
                    {% endifnotequal %}
                    {% if not forloop.last and not activity.last_pre  %}
                      <a class="move-down pull-right"
                         href="{% url 'module:activity-move' pk=activity.pk direction='down' %}">
                        {% bootstrap_button "" size='sm' icon='chevron-down' %}
                      </a>
                    {% endif %}
                  {% endifnotequal %}
                </div>
              </td>
            </tr>
          {% url 'module:activity-delete' activity.pk as delete_url %}
          {% include "module/modals/confirmation_modal.html" with add_obj_in_title=True object=activity action_url=delete_url id=activity.id title="You are about deleting "%}
          {% endfor %}
        </table>
      {% else %}
        <div class="alert alert-info" role="alert">Your collection has no activities for now. Take a look at the right
          panel.
        </div>
      {% endif %}
      <hr>
      <h3>
        <small>Tips:</small>
      </h3>
      <ul>
        <li class="text-muted">to see the list of available LTI components click on course title</li>
        <li class="text-muted">to preview LTI component click on its `eye` icon</li>
        <li class="text-muted">to create new Activity based on certain LTI component click on its title</li>
        <li class="text-muted">
          <span class="bg-warning">pre-assessments</span> and
          <span class="bg-info">post-assessment</span> activities are marked respectively
        </li>
      </ul>

      {# Right accordion panel #}
    </div>
    <div class="col-md-4">
      <div class="row">
        <h3 class="text-center">Available content courses</h3>
      </div>
      <div class="raw panel-heading">
        <label for="filter">Filter Activities:</label>
        <input id="filter" type="search">
        <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div class="row">
        {% if not source_courses %}
          <div class="alert alert-warning text-center" role="alert">
            There are no active content sources.
            You may ask Bridge administrator to activate one.
          </div>
          <h3>
            <small>Possible reasons:</small>
          </h3>
          <ul>
            <li class="text-muted">all content providers are deactivated</li>
            <li class="text-muted">API connection problem</li>
          </ul>
        {% endif %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for source_course in source_courses %}

            <div id="content-panel-{{ forloop.counter0 }}" class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading{{ forloop.counter0 }}">
                <h4 class="panel-title">
                  <a {% if not forloop.first %}class="collapsed" {% endif %} role="button" data-toggle="collapse"
                     data-parent="#accordion" href="#collapse{{ forloop.counter0 }}"
                     data-course-id="{{ source_course.course_id }}"
                     data-course-index="{{ forloop.counter0 }}"
                     data-content_source_id="{{ source_course.content_source_id }}"
                     aria-expanded="false"
                     aria-controls="collapse{{ forloop.counter0 }}"
                     style="overflow:hidden; display:block;"
                  >
                    <span style="display:inline-block; margin-bottom:5px;">
                        {{ source_course.name }}
                    </span>
                    <span
                    class="label label-default pull-right">{{ source_course.org }}</span>
                  </a>
                </h4>
              </div>
              <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse"
                   role="tabpanel" aria-labelledby="heading{{ forloop.counter0 }}">
                <div id="panel-body-{{ forloop.counter0 }}" class="panel-body">

                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>

    </div>
  </div>

  {% include "module/modals/source_modal.html" %}
  {% include "module/modals/engine_failure_modal.html" %}

  {% url 'module:collection-delete' slug=object.slug as delete_url %}
  {% url 'module:collection-sync' slug=object.slug as sync_url %}

  {% with title="Sync Collection with the Engines" message="Collection will be synchronized immediately!" %}
    {% include "module/modals/confirmation_modal.html" with object='' action_url=sync_url undone=True %}
  {% endwith %}

  {% if collection.has_linked_active_sequences %}
    {% with message="At least one student is still working on the collection: " %}
      {% include "module/modals/confirmation_modal.html" with object=object action_url=delete_url id=collection.slug %}
    {% endwith %}
  {% elif collection.has_linked_sequences %}
    {% with message="At least one student is linked to the collection: " %}
      {% include "module/modals/confirmation_modal.html" with object=object action_url=delete_url id=collection.slug %}
    {% endwith %}
  {% else %}
    {% include "module/modals/confirmation_modal.html" with object=object action_url=delete_url id=collection.slug %}
  {% endif %}

{% endblock content %}

{% block bootstrap3_extra_script %}
  {{ block.super }}
  <script type="application/javascript">
      var internalUrls = {
          apiSources: "{% url 'api:sources' %}",
          ltiSourcePreview: "{% url 'lti:source-preview' %}"
      };
  </script>
  <script src="{% static 'module/js/module.js' %}"></script>
{% endblock bootstrap3_extra_script %}
