{% extends "module/base.html" %}
{% load bootstrap3 static %}


<hr>

{% block content %}
{% if group.id %}
<h2>Update {{ group.name }}</h2>
{% else %}
<h2>New Collection Group configuration</h2>
{% endif %}

<form role="form" method="post" id="group_form" data-policy_url="{% url 'module:grading_policy_form' group_slug=group.slug %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="grading_policy">
    {% bootstrap_form grading_policy_form %}
  </div>
  <button class="btn btn-primary" type="submit">
    {% if group.id %}Update{% else %}Create{% endif %}</button>
  <a href="{% if back_url or not group.id %}{% url 'module:group-list' %}{% else %}{{ group.get_absolute_url }}{% endif %}" class="btn btn-default" role="button"
     type="reset">Cancel</a>
</form>


{% endblock content %}

{% block js %}
<script src="{% static 'module/js/collectiongroup.js' %}"></script>
{% endblock %}
