{% extends "module/base.html" %}
{% load bootstrap3 %}


<hr>

{% block content %}
{% if not collection.id%}
<h2>New Collection configuration</h2>
{% else %}
<h2>Edit collection: {{collection.name }}</h2>
{% endif %}

<form role="form" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class="btn btn-primary" type="submit">
    {% if collection.id %}Update{% else %}Create{% endif %}</button>
  <a href="{% if back_url or not collection.id %}{% url 'module:collection-list' %}{% else %}{% url 'module:collection-detail' collection.id %}{% endif %}" class="btn btn-default" role="button"
     type="reset">Cancel</a>
</form>

{% endblock content %}
