{% extends "module/base.html" %}
{% load bootstrap3 %}


<hr>

{% block content %}
{% if group.id %}Update {{ group.name }}{% else %}
<h2>New Collection Group configuration</h2>
{% endif %}

<form role="form" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="grading_policy">
    {% bootstrap_form grading_policy_form %}
  </div>
  <button class="btn btn-primary" type="submit">
    {% if group.id %}Update{% else %}Create{% endif %}</button>
  <a href="{% if group.id %}{{ group.get_absolute_url }}{% else %}{% url 'module:group-list' %}{% endif %}" class="btn btn-default" role="button"
     type="reset">Cancel</a>
</form>


{% endblock content %}

{% block js %}
<script>
  var update_form = function() {
    var gp = $('select[name="group-grading_policy_name"]').val();
    console.log(gp);
    $.get('{% url 'module:grading_policy_form' group_slug=group.slug %}', {
        grading_policy: gp,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      }, function(response) {
         $("div.grading_policy").html(response);
      })
  }
  $(document).ready(function() {
    $('form select[name=group-grading_policy_name]').on('change', function() {
      update_form();
    });
  })


</script>
{% endblock %}
