{% extends "module/base.html" %}
{% load static bootstrap3 %}

{% block title %}
  Group: <span class="label label-default">{{ group.name }}</span>
  <h3>
    <a class="pull-right" href="{% url 'module:group-change' group.slug %}?back_url={{ group.get_absolute_url}}">
      {% bootstrap_button 'Edit' size='sm' icon='edit' %}
    </a>
    <a class="pull-right delete-object
        {% if group.has_linked_active_sequences %} show-alarm
        {% elif group.has_linked_sequences %} show-warning{% endif %}"
       href="{% url 'module:group-delete' group.slug %}?back_url={{ group.get_absolute_url}}">
      {% bootstrap_button 'Delete' size='sm' icon='trash' %}
    </a>
  </h3>
{% endblock title %}

{% block content %}
<div class="col-md-9">
  {% if group.collections.all %}
    <table class="table table-hover">
      <tr>
        <th>collection name</th>
        <th>strict forward</th>
        <th>options</th>
      </tr>
      {% for collection in group.collections.all %}
        <tr>
          <td>
            <a href="{% url 'module:collection-detail' collection.id %}?back_url={{ group.get_absolute_url}}">
            {{ collection.name }} :
            {{ collection.activities.count }}
            {{ collection.activities.count|pluralize:'activity,activities' }}</a></td>
          <td>{% if collection.strict_forward %}
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
          {% else %}
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
          {% endif %}
          </td>
          <td>
            <div>
              <a id="launch-url-fetcher" class="" data-clipboard-text="{{ bridge_host }}{% url 'lti:launch' collection_id=collection.id group_slug=group.slug %}">
                {% bootstrap_button 'copy Launch URL' size='sm' icon='link' %}
              </a>

              {% url 'module:collection-group-delete' pk=collection.id group_slug=group.slug as delete_url %}

              {% with title="You are about unlink collection <Collection:"|add:collection.name|add:"> from group <CollectionGroup:"|add:group.name|add:">" %}
                {% if collection.has_linked_active_sequences %}
                  {% with message="At least one student is still working on the Collection "  %}
                    {% include "module/modals/delete_object_modal.html" with object=collection action_url=delete_url id=collection.id %}
                  {% endwith %}
                {% elif collection.has_linked_sequences %}
                  {% with message="At least one student is linked to the Collection " %}
                    {% include "module/modals/delete_object_modal.html" with object=collection action_url=delete_url id=collection.id %}
                  {% endwith %}
                {% else %}
                  {% include "module/modals/delete_object_modal.html" with object=collection action_url=delete_url id=collection.id %}
                {% endif %}
              {% endwith %}

              <a class="move-down"
                 href="{% url 'module:collection-change' collection.id %}?back_url={{ group.get_absolute_url}}">
                {% bootstrap_button "" size='sm' icon='edit' %}
              </a>
              <a
                  class="move-down delete-object {% if collection.has_linked_active_sequences %} show-alarm
                      {% elif collection.has_linked_sequences %} show-warning{% endif %}"
                  href=""
                  data-id="{{ collection.id }}">
                {% bootstrap_button "" size='sm' icon='trash' %}
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert alert-info" role="alert">
      You have no collections for now.
    </div>
  {% endif %}
</div>
<div class="col-md-3">
  <div class="row">
    <h3 class="text-center">Group Info</h3>
    <div class="alert alert-warning text-center" role="alert">
      Engine - {{ group.engine.engine_name }}
    </div>
    <div class="alert alert-warning text-center" role="alert">
      Grading Policy - {{ group.grading_policy.policy_cls.public_name|default:'Not selected' }}
      {% if group.grading_policy.threshold %}
        <p>Threshold: {{ group.grading_policy.threshold }}</p>
      {% endif %}
    </div>
    {% if group.description %}
    <div class="alert alert-info text-center">
      <h4 class="text-center">Description</h4>
      <p class="text-left">
        {{ group.description }}
      </p>
    </div>
    {% endif %}
  </div>
</div>

{% url 'module:group-delete' group_slug=group.slug as delete_url %}

{% if group.has_linked_active_sequences %}
  {% with message="At least one student is still working on the Collection which is in Collection Group " %}
    {% include "module/modals/delete_object_modal.html" with object=group action_url=delete_url %}
  {% endwith %}
{% elif group.has_linked_sequences %}
  {% with message="At least one student is linked to the Collection which is in Collection Group " %}
    {% include "module/modals/delete_object_modal.html" with object=group action_url=delete_url %}
  {% endwith %}
{% else %}
  {% include "module/modals/delete_object_modal.html" with object=group action_url=delete_url %}
{% endif %}

{% endblock content %}


{% block bootstrap3_extra_script %}
  {{ block.super }}
  <script src="{% static 'module/js/module.js' %}"></script>
{% endblock bootstrap3_extra_script %}
