{% load bootstrap3 %}

<!-- Modal -->
<div class="modal fade" id="engineFailureModal" role="dialog">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Engine failure to proceed current operation</h3>
      </div>
      <div class="modal-body">
          <h4>Please try you last operation one more time.</h4>
          <p class="warn">If repetition doesn't help, connect to the support team, Adaptive Engine is appeared to be not configured properly.</p>
      </div>
    </div>
  </div>
</div>
