{% load bootstrap3 %}

<!-- Modal -->
<div class="modal fade" id="forbidNextModal" role="dialog">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Adaptive collection is setup as <i>strict forward</i></h4>
      </div>
      <div class="modal-body">
        Please submit an answer to the current problem, otherwise you cannot go to the next one.
      </div>
    </div>
  </div>
</div>
