{% extends "module/base.html" %}
{% load staticfiles bootstrap3 %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="{% static 'module/css/module.css' %}"/>
{% endblock %}

{% block bootstrap3_content %}

<div class="container-fluid toolbar">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group" role="group">
        {% for item in sequence_items %}
        <a href="{% url 'module:sequence-item' item.id %}">
          <button class="btn btn-default {% if item == sequence_item %} active {% endif %}">
            {{ forloop.counter }}
          </button>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <iframe
      style="width:100%;height:640px;%;display:block;border:0px;"
      title="{{ sequence_item.activity.id }}"
      name="ltiFrame-{{ sequence_item.activity.id }}"
      src="{% url 'lti:source-preview' %}?sequence_item_id={{ sequence_item.id }}"
      allowfullscreen="true"
      webkitallowfullscreen="true"
      mozallowfullscreen="true"
    >
    </iframe>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div id="next-button" data-forbidden="{{ forbidden }}" class="col-md-6">
      <a href="{% url 'module:sequence-item-next' sequence_item.id %}">
        {% bootstrap_button 'Next' size='md' button_class='btn-primary' extra_classes='pull-right' %}
      </a>
    </div>
  </div>
</div>
{% include "module/forbid_next_modal.html" %}
{% bootstrap_javascript jquery=True %}
<script src="{% static 'module/js/forbid_next.js' %}"></script>

{% endblock bootstrap3_content %}
