{% extends "module/base.html" %}
{% load staticfiles bootstrap3 %}


{% block bootstrap3_content %}
    {% bootstrap_javascript jquery=True %}
    <script src="{% static 'module/js/sequence_preview.js' %}"></script>

    {% bootstrap_button 'Close preview' extra_classes="preview-assessment-back-btn" button_class="btn btn-warning" value=back_url %}
    {% buttons %}
        {% for activity in activities %}
            <button
                    type="submit"
                    class="btn pull-left btn-default preview-assessment-buttons"
                    data-preview-url="{{ activity.url }}"
            >
                {{ activity.pos }}
            </button>
        {% endfor %}
    {% endbuttons %}
    <iframe id="assessment-content"
            style="width:100%;height:640px;%;display:block;border:0"
            src="#"
            class="ltiLaunchFrame"
            allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
            sandbox="allow-same-origin allow-forms allow-scripts"></iframe>


{% endblock bootstrap3_content %}
