{% extends "module/base.html" %}
{% load staticfiles %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="{% static 'module/css/module.css' %}"/>
{% endblock %}

{% block bootstrap3_content %}

<div class="container-fluid toolbar">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group" role="group">
        {% for item in sequence.items.all %}
        <a href="{% url 'module:sequence-item' item.id %}">
          <button class="btn btn-default {% if item == sequence_item %} active {% endif %}">
            {{ forloop.counter }}
          </button>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="jumbotron">
      <h2>Congrats!</h2>
      <p>You've reached the end of this sequence!</p>
      <p>Use the numbered navigation bar above to go back to previous problems.</p>
    </div>
  </div>
</div>

{% endblock bootstrap3_content %}
