{% extends "module/sequence_item_base.html" %}
{% load staticfiles bootstrap3 %}


{% block main_content %}

<div class="row">
  <div class="col-md-{% if demo %}12{% else %}12{% endif %}">
    <a class="next-button-link">
      {% if sequence_item.sequence.collection_order.ui_next %}
        {% bootstrap_button 'Next' size='md' button_class='btn-primary ' extra_classes='pull-right disabled' %}
      {% endif %}
    </a>
  </div>
</div>
<div class="row">
  <iframe
    style="width:100%;height:640px;%;display:block;border:0px;"
    title="{{ sequence_item.activity.id }}"
    name="ltiFrame-{{ sequence_item.activity.id }}"
    src="{% url 'lti:source-preview' %}?sequence_item_id={{ sequence_item.id }}"
    allowfullscreen="true"
    webkitallowfullscreen="true"
    mozallowfullscreen="true"
    sandbox="allow-same-origin allow-forms allow-scripts"
  >
  </iframe>
</div>
<div class="row">
<div id="next-button"
     data-url="{% url 'module:demo' collection_order_slug=sequence_item.sequence.collection_order.slug %}" data-sequence_item_id="{{ sequence_item.id }}"
     data-sequence_item="{{sequence_item.id }}_{{sequence_item.position}}"
     data-is_disabled = "{% if forbidden%}{{ forbidden }}{% endif %}"
     data-enable_ui_option = "{% if sequence_item.sequence.collection_order.ui_option %}true{% endif %}"
     data-next_item="
        {% if demo %}
          {% url 'module:demo' collection_order_slug=sequence_item.sequence.collection_order.slug %}?back_url={{ back_url }}&sequence_item_id={{ sequence_item.id }}&position={{ position }}
        {% else %}
          {% url 'module:sequence-item-next' sequence_item.id %}
        {% endif %}
    "
     class="col-md-{% if demo %}12{% else %}12{% endif %}?sequence_item_id={{ item.id }}">
  <a class="next-button-link">
      {% bootstrap_button 'Next' size='md' button_class='btn-primary' extra_classes='pull-right disabled' %}
  </a>
</div>
</div>

{% include "module/modals/congratulation_message_modal.html" %}
{% bootstrap_javascript jquery=True %}
<script src="{% static 'module/js/work_with_cookie.js' %}"></script>
<script src="{% static 'module/js/forbid_next.js' %}"></script>

{% endblock main_content %}
