{% extends "module/sequence_item_base.html" %}
{% load staticfiles bootstrap3 %}


{% block main_content %}

<div class="row">
  <div class="col-md-{% if demo %}12{% else %}6{% endif %}">
        <a href="
          {% if demo %}
            {% url 'module:demo' group_slug=sequence_item.sequence.group.slug collection_slug=sequence_item.sequence.collection.slug collection_order=collection_order %}?back_url={{ back_url }}sequence_item_id={{ sequence_item.id }}&position={{ position }}
          {% else %}
            {% url 'module:sequence-item-next' sequence_item.id %}
          {% endif %}
        ">
      {% if sequence_item.sequence.group.ui_next %}
        {% bootstrap_button 'Next' size='md' button_class='btn-primary' extra_classes='pull-right' %}
      {% endif %}
    </a>
  </div>
</div>
<div class="row">
  <iframe
    style="width:100%;height:640px;%;display:block;border:0px;"
    title="{{ sequence_item.activity.id }}"
    name="ltiFrame-{{ sequence_item.activity.id }}"
    src="{% url 'lti:source-preview' %}?sequence_item_id={{ sequence_item.id }}"
    allowfullscreen="true"
    webkitallowfullscreen="true"
    mozallowfullscreen="true"
    sandbox="allow-same-origin allow-forms allow-scripts"
  >
  </iframe>
</div>
<div class="row">
<div id="next-button" data-forbidden="{{ forbidden }}"
     data-url="{% url 'module:demo' group_slug=sequence_item.sequence.group.slug collection_slug=sequence_item.sequence.collection.slug collection_order=collection_order %}" data-sequence_item_id="{{ item.id }}"
     class="col-md-{% if demo %}12{% else %}6{% endif %}?sequence_item_id={{ item.id }}">
  <a href="
    {% if demo %}
      {% url 'module:demo' group_slug=sequence_item.sequence.group.slug collection_slug=sequence_item.sequence.collection.slug collection_order=collection_order %}?back_url={{ back_url }}&sequence_item_id={{ sequence_item.id }}&position={{ position }}
    {% else %}
      {% url 'module:sequence-item-next' sequence_item.id %}
    {% endif %}
  ">
  {% bootstrap_button 'Next' size='md' button_class='btn-primary' extra_classes='pull-right' %}
  </a>
</div>
</div>

{% include "module/modals/forbid_next_modal.html" %}
{% bootstrap_javascript jquery=True %}
<script src="{% static 'module/js/forbid_next.js' %}"></script>

{% endblock main_content %}
