# This will create a marker file "/tmp/is_leader" on the host for the leader only
# The file can be mounted into docker container to run leader-only initializations
# https://forums.aws.amazon.com/message.jspa?messageID=666973
# Markers that may exist from prior deployments are deleted before creating the new one
# Marker is put in /tmp/leader folder on host as opposed to /tmp because docker volume mount may create directory instead of file if host path doesn't exist 

container_commands:
  01_delete_leader_marker:
    command: rm -f /tmp/leader/is_leader
  02_write_leader_marker:
    command: mkdir -p /tmp/leader && touch /tmp/leader/is_leader
    leader_only: true
