# This will create a marker file "/tmp/is_leader" on the host for the leader only
# The file can be mounted into docker container to run leader-only initializations
# https://forums.aws.amazon.com/message.jspa?messageID=666973
# The file is deleted afterwards with the 01_delete_leader_marker.sh post-deploy hook

container_commands:
  01_write_leader_marker:
    command: touch /tmp/is_leader
    leader_only: true

files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/01_delete_leader_marker.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # delete leader marker created earlier in deploy
      rm -f /tmp/is_leader
