# This will create a marker file "/tmp/is_leader" on the host for the leader only
# The file can be mounted into docker container to run leader-only initializations
# https://forums.aws.amazon.com/message.jspa?messageID=666973
# Markers that may exist from prior deployments are deleted before creating the new one

container_commands:
  01_delete_leader_marker:
    command: rm -f /tmp/is_leader
  02_write_leader_marker:
    command: touch /tmp/is_leader
    leader_only: true
