# delete awslogs agent state file so that agent starts monitoring logs
# for the most recently created container

files:
    /opt/elasticbeanstalk/hooks/appdeploy/post/99_delete_awslogs_agent_state.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # delete awslogs agent state file so that agent starts monitoring logs
            # for the most recently created container

            AGENTSTATE="/var/lib/awslogs/agent-state"
            if [ -e $AGENTSTATE ]
            then
                sudo rm $AGENTSTATE
                sudo service awslogs restart
            fi
