# Configuration of additional log streaming to cloudwatch from containers

# 01_delete_old_logs: deletes old container log files

# /etc/awslogs/config/containerlogs.conf: configures awslogs agent to monitor
# container stdout logs

commands:
  01_delete_old_logs:
    command: rm -f /var/log/containers/*-stdouterr.log

files:
  /etc/awslogs/config/containerlogs.conf:
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
      [bridge.log]
      file = /var/log/containers/bridge-*-stdouterr.log
      log_stream_name = {instance_id}
      log_group_name = /aws/elasticbeanstalk/`{"Ref": "AWSEBEnvironmentName" }`/var/log/containers/bridge

      [nginx.log]
      file = /var/log/containers/nginx-*-stdouterr.log
      log_stream_name = {instance_id}
      log_group_name = /aws/elasticbeanstalk/`{"Ref": "AWSEBEnvironmentName" }`/var/log/containers/nginx

      [worker.log]
      file = /var/log/containers/worker-*-stdouterr.log
      log_stream_name = {instance_id}
      log_group_name = /aws/elasticbeanstalk/`{"Ref": "AWSEBEnvironmentName" }`/var/log/containers/worker

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_delete_awslogs_agent_state.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # delete awslogs agent state file so that agent starts monitoring logs
      # for the most recently created container log file

      AGENTSTATE="/var/lib/awslogs/agent-state"
      if [ -e $AGENTSTATE ]
      then
          sudo rm $AGENTSTATE
          sudo service awslogs restart
      fi