{% load bootstrap3 %}

<!-- Modal -->
<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel">
  <div class="modal-dialog" style="width:60%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="activityModalLabel">Activity configuration</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="{% url 'module:activity-add' collection_slug=collection.slug %}">
          {% csrf_token %}

          {% for field in activity_form %}
          {% if field.name not in activity_form.advanced_fields%}
          {% bootstrap_field field %}
          {% endif %}
          {% endfor %}

          <div class="advanced_fields">
          {% for field in activity_form %}
            {% if field.name in activity_form.advanced_fields %}
              {% bootstrap_field field %}
            {% endif %}
          {% endfor %}
          </div>
          <button
              class="pull-left btn btn-default activity-show-advanced-options"
              data-toggle=".advanced_fields"
              >
            {% bootstrap_icon "plus" %} Show advanced options</button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
          <button class="btn btn-primary pull-right " type="submit">{% if activity %}Update{% else %}Create{% endif %}</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
