{% load bootstrap3 %}

<!-- Modal -->
<div class="modal fade" id="deleteModal{{ id }}" role="dialog">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        {% if not title %}
          <h3 class="modal-title">You are about deleting <br>{{ object }}.</h3>
        {% elif add_obj_in_title%}
          <h3 class="modal-title">{{ title }} <br>{{ object }}.</h3>
        {% else %}
          <h3 class="modal-title">{{ title }}.</h3>
        {% endif %}
      </div>
      <div class="modal-body">
        {% if message %}
        <h4 class="text-center">{{ message }} {% if object %}{{ object }}{% endif %}</h4>
        {% endif %}
        <h4 class="text-center">Are you really sure?</h4>

        {% if not undone %}
        <h4 class="warn text-center">This action could not be undone!</h4>
        {% endif %}
        <div class="row">
          <div class="col-md-6">
            <form id="{{ form_id }}" class="" action="{{ action_url }}" method="post">
              {% csrf_token %}
              <button class="btn-danger pull-left">OK</button>
            </form>
          </div>
          <div class="col-md-6">
            <button class="close-modal pull-right btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
