{% load bootstrap3 %}

<!-- Modal -->
<div class="modal fade" id="congratulationMessage" role="dialog">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Congratulations!</i></h3>
      </div>
      <div class="modal-body">
          <h4>You have achieved an excellent score on this assignment. This is a good time to move on to the next part of the course.</h4>
          <p class="aware">You may continue doing problems here if you like, but be aware that if you get problems wrong your score may decrease.</p>
      </div>
    </div>
  </div>
</div>
