{% load bootstrap3 %}
<!-- Modal -->
<div class="modal fade" id="sourceModal" tabindex="-1" role="dialog" aria-labelledby="sourceModalLabel">
  <div class="modal-dialog" style="width:60%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="sourceModalLabel">
          {{ title }}: {{ object }}
        </h4>
      </div>
      <div class="modal-body">

        {% if has_available_objects %}
        <form action="{{ link_action_url }}" method="post" id="link-objects-form">
          {% bootstrap_form link_objects_form %}
          {% csrf_token %}
        </form>

        {% else %}
        <h4>No available objects!</h4>
        <h5>All {{ add_new_object_name }}s  are already used.</h5>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        {% if has_available_objects %}
          {% bootstrap_button "Add selected" size='md' icon='link' id='link-objects' button_class='btn-success pull-left' %}
        {% endif %}
       {% bootstrap_button "Add new "|add:add_new_object_name size='md' icon='plus' extra_classes='pull-left modal_launcher' value=add_new_object_url%}
      </div>
    </div>
  </div>
</div>
